<!-- <p>home works!</p> -->

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" >


        <div class="dropdown">
          <button class="dropbtn">Menu</button>
          <div class="dropdown-content">
            <a (click)="showQuestion()">Apply</a>
            <a>Status</a>
          </div>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" >Disabled</a>
    </li>
  </ul>
</nav>


  <div class="rowQ" *ngIf="isQ1visible">
    <div class="row-pt-4" style="background-color:rgb(163, 201, 225);">Are You an existing customer of Bank?</div>

    <p class="mr-3">
      <label class="radio-inline">
        <input class="form-check-input" type="radio" name="sample" value="yes" (change)="onItemChange($event)"/>Yes
      </label>
      <label class="radio-inline">
        <input class="form-check-input" type="radio" name="sample" value="no"  (change)="onItemChange($event)"/>No
      </label>
    </p>

  </div>

  <div *ngIf="isQ2visible">
    <div class="row-pt-4" style="background-color:rgb(163, 201, 225);" >How long have you been customer?</div>
    <input class="form-control" type="number" min="0" id="validationCustom01" [(ngModel)]="years" placeholder="Years" (keyup.enter)="navigate()"
    (keypress)="keypressalert($event)" required>

      <div class="alert alert-primary" role="alert" style="margin-top: 30px;" *ngIf="showMsg">
        Please type years and press 'Enter' to navigate to loan page!
      </div>
  </div>


